<div class="main">
    <section>
        <h3>Basic</h3>
        <p-autoComplete [(ngModel)]="selectedCountry" [showEmptyMessage]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete>
    </section>
    <section>
        <h3>Dropdown and Templating</h3>
        <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="assets/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </section>
    <section>
        <h3>Grouped</h3>
        <p-autoComplete [(ngModel)]="selectedCity" [group]="true" [suggestions]="filteredGroups" (completeMethod)="filterGroupedCity($event)" field="label" [dropdown]="true">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <img src="assets/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/>
                    <span>{{group.label}}</span>
                </div>
            </ng-template>
        </p-autoComplete>
    </section>
    <section>
        <h3>Virtual Scroll (10000 Items)</h3>
        <p-autoComplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true"></p-autoComplete>
    </section>
    <section>
        <h3>Multiple</h3>
        <span class="p-fluid">
            <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true">
            </p-autoComplete>
        </span>
    </section>
</div>
