<p-toast></p-toast>
<div class="main">
    <section>
        <h3>Linear</h3>
        <div style="height: 500px; position: relative;" class="speeddial-linear-demo">
            <p-speedDial [model]="items" direction="up"></p-speedDial>
            <p-speedDial [model]="items" direction="down"></p-speedDial>
            <p-speedDial [model]="items" direction="left"></p-speedDial>
            <p-speedDial [model]="items" direction="right"></p-speedDial>
        </div>
    </section>
    <section>
        <h3>Circle, Semi-Circle and Quarter-Circle</h3>
        <div style="height: 500px; position: relative;" class="speeddial-circle-demo">
            <p-speedDial [model]="items" [radius]="80" type="circle" buttonClassName="p-button-warning"></p-speedDial>
            <p-speedDial [model]="items" [radius]="80" direction="up" type="semi-circle"></p-speedDial>
            <p-speedDial [model]="items" [radius]="80" direction="down" type="semi-circle"></p-speedDial>
            <p-speedDial [model]="items" [radius]="80" direction="left" type="semi-circle"></p-speedDial>
            <p-speedDial [model]="items" [radius]="80" direction="right" type="semi-circle"></p-speedDial>
            <p-speedDial [model]="items" [radius]="120" direction="up-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
            <p-speedDial [model]="items" [radius]="120" direction="up-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
            <p-speedDial [model]="items" [radius]="120" direction="down-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
            <p-speedDial [model]="items" [radius]="120" direction="down-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
        </div>
    </section>
    <section>
        <h3>Tooltips</h3>
        <div style="height: 350px; position: relative;" class="speeddial-tooltip-demo">
            <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up"></p-speedDial>
            <p-speedDial [model]="tooltipItems" className="speeddial-left" direction="up"></p-speedDial>
        </div>
    </section>
    <section>
        <h3>Transition Duration, Icon and No Rotate Animation</h3>
        <div style="height: 350px; position: relative;" class="speeddial-delay-demo">
            <p-speedDial [model]="items" direction="up" [transitionDelay]="80" showIcon="pi pi-bars" hideIcon="pi pi-times" buttonClassName="p-button-outlined"></p-speedDial>
        </div>
    </section>
    <section>
        <h3>Masks</h3>
        <div style="height: 350px; position: relative;" class="speeddial-mask-demo">
            <p-speedDial [model]="items" direction="up" [mask]="true"></p-speedDial>
        </div>
    </section>
</div>
