<div class="main">
    <section>
        <h3>Basic</h3>
        <p-button label="Submit"></p-button>
        <p-button label="Disabled" [disabled]="true"></p-button>
        <p-button label="Link" styleClass="p-button-link"></p-button>
    </section>
    <section>
        <h3>Icons</h3>
        <p-button icon="pi pi-check"></p-button>
        <p-button icon="pi pi-check" label="Submit"></p-button>
        <p-button icon="pi pi-check" iconPos="right" label="Submit"></p-button>
    </section>
    <section>
        <h3>Severities</h3>
        <p-button label="Primary"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary"></p-button>
        <p-button label="Success" styleClass="p-button-success"></p-button>
        <p-button label="Info" styleClass="p-button-info"></p-button>
        <p-button label="Warning" styleClass="p-button-warning"></p-button>
        <p-button label="Help" styleClass="p-button-help"></p-button>
        <p-button label="Danger" styleClass="p-button-danger"></p-button>
    </section>
    <section>
        <h3>Raised Buttons</h3>
        <p-button label="Primary" styleClass="p-button-raised"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-raised"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-raised"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-raised"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-raised"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-raised"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-raised"></p-button>
    </section>
    <section>
        <h3>Rounded Buttons</h3>
        <p-button label="Primary" styleClass="p-button-rounded"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-rounded"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-rounded"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-rounded"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-rounded"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-rounded"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-rounded"></p-button>
    </section>
    <section>
        <h3>Text Buttons</h3>
        <p-button label="Primary" styleClass="p-button-text"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-text"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-text"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-text"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-text"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-text"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-text"></p-button>
    </section>
    <section>
        <h3>Raised Text Buttons</h3>
        <p-button label="Primary" styleClass="p-button-text p-button-raised"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-text p-button-raised"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-text p-button-raised"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-text p-button-raised"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-text p-button-raised"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-text p-button-raised"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-text p-button-raised"></p-button>
    </section>
    <section>
        <h3>Outlined Buttons</h3>
        <p-button label="Primary" styleClass="p-button-text p-button-outlined"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-text p-button-outlined"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-text p-button-outlined"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-text p-button-outlined"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-text p-button-outlined"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-text p-button-outlined"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-text p-button-outlined"></p-button>
    </section>
    <section>
        <h3>Rounded Outlined Buttons</h3>
        <p-button label="Primary" styleClass="p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Secondary" styleClass="p-button-secondary p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Success" styleClass="p-button-success p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Info" styleClass="p-button-info p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Warning" styleClass="p-button-warning p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Help" styleClass="p-button-help p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button label="Danger" styleClass="p-button-danger p-button-text p-button-outlined p-button-rounded"></p-button>
    </section>
    <section>
        <h3>Rounded Icon Buttons</h3>
        <p-button icon="pi pi-check" styleClass="p-button-rounded"></p-button>
        <p-button icon="pi pi-bookmark" styleClass="p-button-secondary p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button icon="pi pi-search" styleClass="p-button-success p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button icon="pi pi-user" styleClass="p-button-info p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button icon="pi pi-bell" styleClass="p-button-warning p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button icon="pi pi-heart" styleClass="p-button-help p-button-text p-button-outlined p-button-rounded"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger p-button-text p-button-outlined p-button-rounded"></p-button>
    </section>
    <section>
        <h3>Badges</h3>
        <p-button label="Emails" badge="8"></p-button>
        <p-button label="Messages" badge="8" icon="pi pi-user" styleClass="p-button-warning" badgeClass="p-badge-danger"></p-button>
    </section>
    <section>
        <h3>Loading</h3>
        <p-button label="Search" icon="pi pi-search" [loading]="isLoading[0]" (click)="doLoading(0)"></p-button>
        <p-button label="Search" icon="pi pi-search" iconPos="right" [loading]="isLoading[1]" (click)="doLoading(1)"></p-button>
        <p-button icon="pi pi-search" [loading]="isLoading[2]" (click)="doLoading(2)"></p-button>
        <p-button label="Search" icon="pi pi-search" [loading]="isLoading[3]" (click)="doLoading(3)"></p-button>
    </section>
    <section>
        <h3>Templating</h3>
        <p-button styleClass="px-3">
            <ng-template pTemplate="content">
                <img alt="logo" src="assets/images/primeng-icon-white.svg" style="width: 1.5rem"/>
            </ng-template>
        </p-button>
        <p-button styleClass="p-button-outlined">
            <img alt="logo" src="assets/images/primeng-icon.svg" style="width: 1.5rem"/>
            <span class="ml-2 font-bold">PrimeNG</span>
        </p-button>
    </section>
    <section>
        <h3>Button Set</h3>
        <div class="p-buttonset">
            <button pButton pRipple label="Save" icon="pi pi-check"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
            <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
        </div>
    </section>
    <section>
        <h3>Sizes</h3>
        <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
        <p-button label="Normal" icon="pi pi-check"></p-button>
        <p-button label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
    </section>
</div>    
