* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
}

body {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
